{% extends "organization/read.html" %}

{% set is_sys_admin = c.userobj.sysadmin %}


{% set is_single_admin = (c.member_groups['admin'] | length) == 1 %}
{% set current_member = c.current_user %}

{% block subtitle %}{{ _('Members') }} - {{ c.group_dict.display_name }}{% endblock %}
{% block page_primary_action %}
{% endblock %}

{% block primary_content_inner %}
    {% block package_description %}
    <h2 class="page-heading">
       <div class="col col-sm-6 col-xs-6">
           {{ _('User') }}
       </div>
       <div class="col col-sm-6 col-xs-6">
           {{ _('Role') }}
       </div>
    </h2>
    {% endblock %}
    {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
        <div class="row page_primary_action">
        {% link_for _('ADD MEMBER'), controller='organization', action='member_new', id=c.group_dict.id, class_='btn btn-primary pull-right', named_route=group_type + '_member_new' %}
        </div>
    {% endif %}

	{% block packages_list %}
        {% block member_list %}
        {% set count = c.members|length %}
        {% set members_count = ungettext('{count} member', '{count} members', count).format(count=count) %}
        
        <table class="table table-header table-hover members-table">
            <tbody>
            {% for user_id, user, role in c.members %}
                <tr>
                <td class="member_media">
                    {{ h.linked_user(user_id, maxlength=20) }}
                </td>
                <td>{{ role }}</td>
                {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
                    <td>
                        <div class="btn-group member_action pull-right">
                                <a class="btn btn-primary bg-clear" href="{{ h.url_for(group_type + '_member_new', id=c.group_dict.id, user=user_id) }}" title="{{ _('Edit') }}">
                            {{ _('EDIT') }}
                            </a>
                        <a class="delete" href="{{ h.url_for(group_type + '_member_delete', id=c.group_dict.id, user=user_id) }}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this member?') }}" title="{{ _('Delete') }}">{% block delete_button_text %}<i class="fa fa-times"></i>{% endblock %}</a>
                        </div>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endblock %}

    {% endblock %}
    {% block page_pagination %}
    {% endblock %}
{% endblock %}
{% block secondary_content %}
  <div class="sidebar">
      <h2>{{ c.group_dict.title }}</h2>
  </div>
{% endblock %}
