{% extends "organization/read.html" %}

{% set is_sys_admin = c.userobj.sysadmin %}


{% set is_single_admin = (c.member_groups['admin'] | length) == 1 %}
{% set current_member = c.current_user %}

{% block subtitle %}{{ _('Members') }} - {{ c.group_dict.display_name }}{% endblock %}

{% block page_primary_action %}
{% endblock %}

{% block primary_content_inner %}
	<div class="row stats-box">
            <div class="col-xs-6 col-sm-4">
                <span class="stats">100{{ _('+') }}</span>
                <span class="stats-text">{{ _('DOWNLOADS') }}</span>
            </div>
            <div class="col-xs-6 col-sm-4">
                <span class="stats">200{{ _('+') }}</span>
                <span class="stats-text">{{ _('Visits') }}</span>
            </div>
        </div>
    {% block page_pagination %}
    {% endblock %}
{% endblock %}