{% resource 'justicehub_theme/widget/popup/popup.css' %}
{% resource 'justicehub_theme/widget/popup/popup.js' %}
{% resource 'justicehub_theme/widget/auth/signup.js' %}
{% set title = "Signup" %}
{% set title_content = "contribute data, join groups and do more by becoming a member" %}
{% extends "widget/popup/popup.html" %}


{% block content %}
<form id="signup-form">
    <div class="input-group">
        <label for="signup-fullname">Full Name</label>
        <input type="text" name="fullname" id="signup-fullname"/>
    </div>
    <div class="input-group">
        <label for="signup-email">Email Address</label>
        <input type="email" name="email" id="signup-email"/>
    </div>
    <div class="input-group">
        <label for="signup-username">Username (Optional)</label>
        <input type="text" name="user" id="signup-username" pattern="[a-z0-9_\-]*$" title="Purely lowercase alphanumeric (ascii) characters and these symbols: -_ only"/>
    </div>
    <div class="input-group">
        <label for="signup-password">Set Password</label>
        <input type="password" name="password" id="signup-password"/>
        <span style="text-align: left; margin: 5px 0;">Password has to be at least 8 alphanumeric characters</span>
    </div>
    <span
    >By continuing, you agree to our <a href="https://docs.google.com/document/d/1EvAQ8PQuNrapM8GK1z5g3YKfwe8-zywWDliE4fRvnPs/preview" target="_blank" rel="noopener noreferrer">Terms of Service</a> & <a href="https://docs.google.com/document/d/1YtCveTE6f2s429INuj4e8MyViCOex-eoxp5c3TRlEZc/preview" target="_blank" rel="noopener noreferrer">Privacy Policy</a></span
    >
    <button type="button" class="btn btn-primary" onclick="signupFormOnSubmit()">Sign up</button>

    <p>Already a member? <a href="#" class="click-to-login" onclick="showModal('#loginModal')">Login</a></p>
</form>
{% endblock %}
