{% ckan_extends %}

{% block meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/justicehub_theme.css" />
  <link rel="stylesheet" href="/common.css" />
  <link rel="stylesheet" href="/form.css" />
  <link rel="stylesheet" href="/search.css" />
  <link rel="stylesheet" href="/dataset.css" />
  <link rel="stylesheet" href="/partner.css"/>
  <link rel="stylesheet" href="/issues.css"/>
  <link rel="stylesheet" href="/resource.css"/>
  <link rel="stylesheet" href="/jh_home_new.css"/>
  <link rel="stylesheet" href="/jh_home_new1.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" />
{% endblock %}

{%- block scripts %}
  {{ super() }}
  {% resource 'ckanext_issues/autocomplete-action-api.js' %}
  {% resource 'justicehub_theme/justicehub_theme.js' %}
  {# {% resource 'justicehub_theme/home.js' %} #}
{% endblock -%}
