<footer>
<div class="custom-container">
  <div class="row">
    <div class="subscribe col-lg-5 col-md-5">
      <div class="footer__branding">
        <img class="footer__branding__jh" src="/assets/jh_logo_white.png" alt="JusticeHub Logo White" />
        <a href="https://twitter.com/JusticeHubIndia" target="_blank" rel="noopener noreferrer" class="footer__branding_social">
          <img src="/assets/icons/twitter.svg" alt="" />
        </a>
        <!-- <a href="https://www.facebook.com/justicehubindia/" target="_blank" rel="noopener noreferrer" class="footer__branding_social">
          <img src="/assets/icons/facebook.svg" alt="" />
        </a> -->
        <a href="https://github.com/justicehub-in" target="_blank" rel="noopener noreferrer" class="footer__branding_social github">
          <img src="/assets/icons/github.svg" alt="" />
        </a>
      </div>
      <!-- <p><strong>Subscribe to our mailing list</strong></p> -->
      <p>Get informed of the latest legal and justice data that make it to our platform.</p>

      <form class="row subscribe__form">
        <!-- <input type="text" class="col-lg-8 col-md-8 col-sm-8 col-xs-12" /> -->
        <a href="https://dataforjustice.substack.com" target="_blank" rel="noreferrer noopener" class="btn btn-primary">Join us on Substack</a>
      </form>
    </div>
    <div class="links col-lg-4 col-md-4">
      <h3>Links</h3>
      <div class="row links-row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/upload">Contribute Data</a></li>
            <li><a href="/dataset">Explore Data</a></li>
            <li><a href="https://docs.justicehub.in" target="_blank">Resources</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <ul>
            <li><a href="https://docs.google.com/document/d/1EvAQ8PQuNrapM8GK1z5g3YKfwe8-zywWDliE4fRvnPs/preview" target="_blank" rel="noopener noreferrer">Terms of Service</a></li>
            <li><a href="https://docs.google.com/document/d/11q5eXXm0qJE6ljtTC39t_5X5XYwoQKh95fsYxExoGlw/preview" target="_blank" rel="noopener noreferrer">Code of Conduct</a></li>
            <li><a href="https://docs.google.com/document/d/1YtCveTE6f2s429INuj4e8MyViCOex-eoxp5c3TRlEZc/preview" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
            <li><a href="https://docs.google.com/document/d/1L5ODlOWFbJkZ0cr0rt2DePQD_V3a4pKxNsUdJeOhjhM/preview" target="_blank" rel="noopener noreferrer">Notice and Feedback Policy</a></li>
            <li><a href="http://docs.ckan.org/en/2.8/api/">CKAN API</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="created col-lg-3 col-md-3">
      <h3>Created By</h3>
      <div class="makers-row">
        <a href="https://civicdatalab.in/" target="_blank" rel="noreferrer noopener">
          <img src="/assets/cdl_light.svg" alt="" /></a>
        <a href="https://agami.in/" target="_blank" rel="noreferrer noopener">
          <img src="/assets/agami_light.svg" alt="" />
        </a>
      </div>
      <!-- <p>Designed by <a href="https://www.twistopen.in/" target="_blank" rel="noreferrer noopener">TwistOpen UX</a></p> -->
    </div>
  </div>
</div>
</footer>


{# <footer class="site-footer">
    <div class="container">
    {% block footer_content %}
    <div class="row">

        <div class="col col-sm-6 footer-links">
            <div class="row hidden-xs">
                <div class="col col-xs-12">
                    <i style="font-size: 16px; font-weight: 500;">{{ _('Created by:') }}</i>
                </div>
            </div>
            <div class="hidden-xs">
                <div class="image-box">
                    <a href="https://agami.in/" target="_blank">
                    <img class="agami-logo" src="{{ h.url_for_static('/images/agami_logo.png')}}"></img>
                    </a>
                </div>
                <div class="image-box">
                    <a href="https://www.civicdatalab.in/" target="_blank">
                    <img class="cdl-logo" src="{{ h.url_for_static('/images/cdl_logo.png')}}"></img>
                    </a>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col col-sm-7 footer-disclaimer">
                    <div>
                    This is an Alpha release, we will be working to add more datasets in the coming days to the Justice Hub.
                    </div>
                    <div>
                    So please stay tuned.
                    </div>
                </div>
            </div>

            <div class="row hidden-xs">
                <div class="col col-sm-12 col-xs-12">
                    <ul class="list-unstyled list-inline">
                        {% block footer_links %}
                        <li class="nav-item">
                            <a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
                        </li>
                        {% endblock %}
                        <i class="fa fa-circle fa-sm"></i>
                        {% block footer_links_legal %}
                        <li class="nav-item">
                            <a href="{{ h.url_for('/pages/tos')}}">{{ _('Terms & Conditions') }}</a>
                        </li>
                        <i class="fa fa-circle fa-sm"></i>
                        <li class="nav-item">
                            <a href="{{ h.url_for('/pages/coc')}}">{{ _('Code of Conduct') }}</a>
                        </li>
                        {% endblock %}
                        <i class="fa fa-circle fa-sm"></i>
                        {% block footer_links_ckan %}
                        {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
                        <li class="nav-item">
                            <a href="{{ api_url }}">{{ _('CKAN API') }}</a>
                        </li>
                        <i class="fa fa-circle fa-sm"></i>
                        <li class="nav-item">
                            <a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a>
                        </li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col col-xs-12 col-sm-6 subscribe-box footer-links">
            <div class="row hidden-xs">
                <div class="col col-sm-12">
                    <div class="footer-intro footer-intro-invert">{{ _('SUBSCRIBE') }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col col-sm-9 col-xs-12" data-module="justicehub_theme_subscribe">
                    <form id="subscribe-form" method="post" action="{{h.url_for('jhsubscribe')}}">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter you email id" name="email">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-lg hidden-xs"
                                    type="submit"
                                    data-toggle="popover"
                                    data-placement="top"
                                    data-html=true
                                    data-trigger="focus">
                                {{ _('SUBSCRIBE') }}
                            </button>
                            <button class="btn visible-xs"
                                    type="submit"
                                    data-toggle="popover"
                                    data-placement="top"
                                    data-html=true
                                    data-trigger="focus">
                                <i class="fa fa-bell"></i>
                            </button>
                        </span>
                    </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col col-xs-12 col-sm-10 col-lg-10">
                    <p class="footer-intro-invert">Be part of our mailing list, to keep up with the latest happenings and events of the Hub.</p>
                </div>
            </div>

            <div class="row visible-xs">
                <div class="col col-sm-12 col-xs-12">
                    <ul class="list-unstyled">
                        <li class="nav-item">
                            <a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About') }}</a></li>
                        </li>
                        <i class="fa fa-circle fa-sm"></i>
                        <li class="nav-item">
                            <a href="https://justicehub.in/terms">{{ _('Terms & Conditions') }}</a>
                        </li>
                        <i class="fa fa-circle fa-sm"></i>
                        <li class="nav-item">
                            <a href="https://github.com/justicehub-in/Justice-Hub/blob/master/CODE_OF_CONDUCT.md">{{ _('Code of Conduct') }}</a>
                        </li>
                        <i class="fa fa-circle fa-sm"></i>
                        <li class="nav-item">
                            <a href="{{ api_url }}">{{ _('CKAN API') }}</a>
                        </li>
                        <i class="fa fa-circle fa-sm"></i>
                        <li class="nav-item">
                            <a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    </div>

    {% block footer_debug %}
        {% if g.debug %}
            {% include 'snippets/debug.html' %}
        {% endif %}
    {% endblock %}

</footer> #}
