{% ckan_extends %}

{% block header_site_navigation %}
    <nav class="section navigation">
    <ul class="nav nav-pills">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li>
                    {% link_for _('The Hub'), named_route='home.about' %}
                </li>
            </ul>
        </li>
        {% block header_site_navigation_tabs %}
            {{ h.build_nav_main( ('search', _('Datasets')), ('organizations_index', _('Data Contributors'))) }}
        {% endblock %}

        <li>
            <a href="https://justicehub.in/resources/" target="_blank">
                {{ _('Resources') }}
            </a>
        </li>
        {% if not c.userobj %}
          {% block header_account_notlogged %}
          <li>{% link_for _('Log in'), named_route='user.login' %}</li>
          {% endblock %}

        {% else %}
          {% block header_account_log_out_link %}
          <li>
              <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                  <span class="text">{{ _('Log out') }}</span>
              </a>
          </li>
          {% endblock %}
        {% endif %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li>
                    <a href="https://justicehub.in/covid-19/" target="_blank">
                        {{ _('Covid-19') }}
                        <i class="fa fa-sm fa-external-link"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/justicehub-in" target="_blank">
                        {{ _('Open Source') }}
                        <i class="fa fa-sm fa-external-link"></i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    </nav>
{% endblock %}
{% block header_site_search %}
{% endblock %}
