{% ckan_extends %}

{% block basic_fields %}
  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

  {% set dataset_state = [] %}
  {% set org_fields = [] %}
  {% set geo_fields = [] %}
  {% set data_timeline_fields = [] %}
  {% set collection_fields = [] %}
  {% set date_fields = [] %}
  {% set author_details = [] %}
  {% set maintainer_details = [] %}
  {% set check_fields = [] %}
  {% set meta_fields = [] %}
  {% set extras = [] %}

  {%- for field in schema.dataset_fields[4:] -%}
      {%- if field.field_name in ['verified', 'state'] -%}
          {% do dataset_state.append(field) %}

      {%- elif field.field_name in ['owner_org', 'license_id'] -%}
          {% do org_fields.append(field) %}

      {%- elif field.field_name in ['states', 'district', 'village'] -%}
          {% do geo_fields.append(field) %}

      {%- elif field.field_name in ['start_year', 'end_year'] -%}
          {% do data_timeline_fields.append(field) %}

      {%- elif field.field_name in ['collected_month', 'level'] -%}
          {% do collection_fields.append(field) %}

      {%- elif field.field_name in ['upload_date', 'last_updated'] -%}
          {% do date_fields.append(field) %}

      {%- elif field.field_name in ['author', 'author_email'] -%}
          {% do author_details.append(field) %}

      {%- elif field.field_name in ['maintainer', 'maintainer_email'] -%}
          {% do maintainer_details.append(field) %}

      {%- elif field.preset in ['multiple_checkbox', 'select'] -%}
          {% do check_fields.append(field) %}

      {%- elif field.field_name in ['version', 'language', 'update_frequency'] -%}
          {% do meta_fields.append(field) %}

      {%- else -%}
          {% do extras.append(field) %}

      {%- endif -%}

  {%- endfor -%}

  <div class="row">
  {%- for field in schema.dataset_fields[:3] -%}
    <div class="col col-md-12">
    {%- if field.form_snippet is not none -%}
      {%- snippet 'scheming/snippets/form_field.html',
        field=field, data=data, errors=errors, licenses=c.licenses,
        entity_type='dataset', object_type=dataset_type -%}
    {%- endif -%}
    </div>
  {%- endfor -%}
  </div>

  <div class="row">
  {%- for field in dataset_state -%}
    <div class="col col-md-6">
    {%- if field.form_snippet is not none -%}
      {%- snippet 'scheming/snippets/form_field.html',
        field=field, data=data, errors=errors,
        entity_type='dataset', object_type=dataset_type -%}
    {%- endif -%}
    </div>
  {%- endfor -%}
  </div>

  <div style="margin-top: 25px; margin-left: -30px; border-bottom: 2px solid #f65940;">
      <span class={%if form_style == 'edit' %}"metadata-heading metadata-small-heading"{% else %}"metadata-heading"{% endif %}>{{ _('METADATA') }}</span>
  </div>

  <div class="row">
  {%- for field in schema.dataset_fields[3:4] -%}
    <div class="col col-md-12">
    {%- if field.form_snippet is not none -%}
      {%- snippet 'scheming/snippets/form_field.html',
        field=field, data=data, errors=errors, licenses=c.licenses,
        entity_type='dataset', object_type=dataset_type -%}
    {%- endif -%}
    </div>
  {%- endfor -%}
  </div>

  <div class="row">
      {%- for field in org_fields[::-1] -%}
      <div class="col col-md-6">
        {%- if field.form_snippet is not none -%}
          {%- snippet 'scheming/snippets/form_field.html',
            field=field, data=data, errors=errors, licenses=c.licenses,
            entity_type='dataset', object_type=dataset_type -%}
        {%- endif -%}
      </div>
      {%- endfor -%}
  </div>

  <div class="row">
      {%- for field in geo_fields -%}
      <div class="col col-md-4">
        {%- if field.form_snippet is not none -%}
          {%- snippet 'scheming/snippets/form_field.html',
            field=field, data=data, errors=errors, licenses=c.licenses,
            entity_type='dataset', object_type=dataset_type -%}
        {%- endif -%}
      </div>
      {%- endfor -%}
  </div>

  <div class="row">
      {%- for field in data_timeline_fields -%}
      <div class="col col-md-4">
        {%- if field.form_snippet is not none -%}
          {%- snippet 'scheming/snippets/form_field.html',
            field=field, data=data, errors=errors, licenses=c.licenses,
            entity_type='dataset', object_type=dataset_type -%}
        {%- endif -%}
      </div>
      {%- endfor -%}
  </div>

  <div class="row">
      {%- for field in collection_fields -%}
      <div class="col col-md-4">
        {%- if field.form_snippet is not none -%}
          {%- snippet 'scheming/snippets/form_field.html',
            field=field, data=data, errors=errors, licenses=c.licenses,
            entity_type='dataset', object_type=dataset_type -%}
        {%- endif -%}
      </div>
      {%- endfor -%}
  </div>

  <div class="row">
      {%- for field in date_fields -%}
      <div class="col col-md-4">
        {%- if field.form_snippet is not none -%}
          {%- snippet 'scheming/snippets/form_field.html',
            field=field, data=data, errors=errors, licenses=c.licenses,
            entity_type='dataset', object_type=dataset_type -%}
        {%- endif -%}
      </div>
      {%- endfor -%}
  </div>

  <div class="row">
  {%- for field in check_fields -%}
    <div class="col col-md-12">
    {%- if field.form_snippet is not none -%}
      {%- snippet 'scheming/snippets/form_field.html',
        field=field, data=data, errors=errors, licenses=c.licenses,
        entity_type='dataset', object_type=dataset_type -%}
    {%- endif -%}
    </div>
  {%- endfor -%}
  </div>

  <div class="row">
      {%- for field in meta_fields -%}
      <div class="col col-md-4">
        {%- if field.form_snippet is not none -%}
          {%- snippet 'scheming/snippets/form_field.html',
            field=field, data=data, errors=errors, licenses=c.licenses,
            entity_type='dataset', object_type=dataset_type -%}
        {%- endif -%}
      </div>
      {%- endfor -%}
  </div>

  <div class="row">
      {%- for field in author_details -%}
      <div class="col col-md-6">
        {%- if field.form_snippet is not none -%}
          {%- snippet 'scheming/snippets/form_field.html',
            field=field, data=data, errors=errors, licenses=c.licenses,
            entity_type='dataset', object_type=dataset_type -%}
        {%- endif -%}
      </div>
      {%- endfor -%}
  </div>

  <div class="row">
      {%- for field in maintainer_details -%}
      <div class="col col-md-6">
        {%- if field.form_snippet is not none -%}
          {%- snippet 'scheming/snippets/form_field.html',
            field=field, data=data, errors=errors, licenses=c.licenses,
            entity_type='dataset', object_type=dataset_type -%}
        {%- endif -%}
      </div>
      {%- endfor -%}
  </div>

  <div class="row">
  {%- for field in extras -%}
    <div class="col col-md-12">
    {%- if field.form_snippet is not none -%}
      {%- snippet 'scheming/snippets/form_field.html',
        field=field, data=data, errors=errors, licenses=c.licenses,
        entity_type='dataset', object_type=dataset_type -%}
    {%- endif -%}
    </div>
  {%- endfor -%}
  </div>

  {%- if 'resource_fields' not in schema -%}
    <!-- force controller to skip resource-editing step for this type -->
    <input type="hidden" name="_ckan_phase" value="" />
  {%- endif -%}
{% endblock %}

{% block form_actions %}
<div class="form-actions form-group">
  {% block disclaimer %}
    <p class="action-info small">
      {%- trans -%}
      The <i>data license</i> you select above only applies to the contents
      of any resource files that you add to this dataset. By submitting
      this form, you agree to release the <i>metadata</i> values that you
      enter into the form under the
      <a href="http://opendatacommons.org/licenses/odbl/1-0/">Open Database License</a>.
      {%- endtrans -%}
    </p>
  {% endblock %}
  {% block delete_button %}
  {% endblock %}

  {% block save_button %}
  <button class="btn btn-primary bg-clear" type="submit" name="save">
      {% block save_button_text %}
      {% if form_style != 'edit' %}
          {{ _('NEXT: FILES UPLOAD') }}
          <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
      {% else %}
          {{ _('UPDATE DATASET') }}
      {% endif %}
      {% endblock %}
  </button>
  {% endblock %}
  <p class="control-required-message">
    {{ _("Required field") }} <span class="control-required">*</span>
  </p>
</div>
{% endblock %}
