{% ckan_extends %}

{% block delete_button %}
{% endblock %}

{% block previous_button %}
    <button class="btn btn-primary btn-default bg-clear" name="save" value="go-dataset" type="submit"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i>{{ _('Previous') }}</button>
{% endblock %}

{% block again_button %}
    <button class="btn btn-default btn-finish" name="save" value="again" type="submit">{{ _('SAVE & ADD ANOTHER') }}</button>
{% endblock %}

{% block save_button %}
  <button class="btn btn-primary btn-finish" name="save" value="go-metadata" type="submit">{% block save_button_text %}{{ _('DONE') }}{% endblock %}</button>
{% endblock %}

{% block add_button %}
    <button class="btn btn-primary bg-clear" name="save" value="go-dataset-complete" type="submit">{{ _('SAVE') }}</button>
{% endblock %}
