.activity .item::after{
  margin-bottom:40px;
}
.activity .item {
    font-weight: normal;
    font-style: italic;
}
.activity .item .actor a {
    color: #f65940;
}
.activity .item a {
    font-weight: bold;
    font-style: normal;
}
.activity .item .icon {
    background-color: #00abb7 !important;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.activity .item p {
    margin-left:50px;
}

.activity .item .fa{
  margin-top:10px;
}

.activity .item {
  margin-left:15px;
}

.activity .item a{
  color:white;
}

.activity {
  background:none
}


.activity .item .date{
  color:#f65940;
  display:block
}

.actor .gravatar {
  display:none
}

.stats-box {
    margin-top: 50px;
    margin-bottom: 20px;
}
.stats-text {
    color:#403644;
    font-weight:bold;
    display: block;
}
.pckg_rsrc_actvty {
    background:#403644;
}
.pckg_rsrc_actvty,
.page-section {
    font-weight: bolder;
    border-top: 2px solid #f65940;
    padding-top: 20px;
}
.page-section {
    padding-bottom: 20px;
    margin-left: 0;
}
.page-section > span:first-child {
    display: inline-block;
    margin-bottom: 30px;
    padding-left: 15px;
}
.page-section .links-list {
    padding-left: 15px;
    font-weight: normal;
    height: 150px;
}
.page-section .links-list a {
    color: #403644;
}
.resources {
    padding: 10px 35px;
}
.top-section {
    margin: 0 20px;
    margin-bottom: 100px;
}
.package-desc {
    width:75%;
    margin-bottom:50px;
}
/* Ref: https://stackoverflow.com/a/36311846/3860168 */
.org-box {
    width: 350px;
    height: 350px;
    margin-top: -30px;
}
.pkg_tags {
    border-radius:30px;
    padding: 5px 20px;
    display:inline-flex;
}
.pkg_tags a {
    color:white;
    font-weight:bold;
}

.pckg_rsrc_actvty {
    border-top: 2px solid #f65940;
    margin-left: 0;
}
.pckg_rsrc_actvty > .activity-item {
    color: #ffffff;
    margin-left: 10px;
    margin-right: 20px;
}
.pckg_rsrc_actvty h2 {
    font-weight:bolder;
    line-height: 1.2;
    color:white;
    text-align:center;
    border-bottom: 2px solid #f65940;
    padding-top:5px;
    padding-bottom:21px;
}
.content_action a {
    background-color: #f65940;
    border-radius: 30px;
    padding: 5px 50px;
    color: #ffffff;
    margin-top: 10px;
}
.content_action a:hover {
    color: #f65940;
    background-color: inherit;
    border: 1px solid #f65940;
}
.package-tabs {
    margin-left: 0;
}
.package-tabs .nav-tabs::before,
.package-tabs .nav-tabs::after {
    margin-bottom: 2px;
    border: none;
}
.package-tabs .nav-tabs {
    width: 100%;
    margin-top: -60px;
    border-bottom: 2px solid #f65940;
}
.package-tabs .nav-tabs li a {
    border-radius: 0;
}
.pkg_tags:nth-child(even) {background-color:#00abb7;}
.pkg_tags:nth-child(odd) {background-color:#f65940;}

.additional-info .table {
    width: 50%;
    margin-left: 25%;
}
.table-striped thead tr th,
.table-striped thead tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
}
.table-striped tbody tr th,
.table-striped tbody tr td {
    padding-top: 12px;
    padding-bottom: 12px;
}
.table-striped tbody tr:nth-child(2n) td,
.table-striped tbody tr:nth-child(2n) th {
    background-color: #ffffff;
}
.table-striped tbody tr:nth-child(2n+1) td,
.table-striped tbody tr:nth-child(2n+1) th {
    background-color: #c1bbc3;
}
.resource-item {
    margin-right: 20px;
}
.dropdown-toggle {
    border-radius: 30px;
}

/*----------------- data set editing page css ----------------------*/
.edit-pkg-header{
	border-bottom:1px solid #403644;
}

.nav-tabs > li {
    margin-bottom: -2px;
}
.nav-tabs > li >  a {
    color: #403644;
    border: None;
}
.nav-tabs > li >  a > i {
    display:None;
}
.nav-tabs > li.active >  a {
	background: #403644;
    color:#ffffff;
}
.page_primary_action .btn-flat {
	border-radius:0px;
    margin-right :40px;
}

/* --------------------- responsive ------------------------- */
@media only screen and (max-width: 768px){
	.nav-tabs > li {
        margin-right:0px;
	}
	.page_primary_action .btn-flat {
		border-radius:0px;
        margin-right :0px;
	}
    .pckg_rsrc_actvty{
        display:block;
    }
    .additional-info .table {
        width: 100%;
        margin-left: 0;
    }
}
