/* ------------- package-item --------------- */
.dataset-title {
    margin-top: 0;
    margin-bottom: 0;
}
.dataset-org {
    margin-bottom: 20px;
}
.dataset-resources {
    margin-top: 0;
}

/* ------------- package-detail ------------ */
h1+.dataset-meta {
    margin-bottom: 30px;
}
.dataset-meta {
    margin-bottom: 10px;
}
.resource-list {
    margin-top: 20px;
}
.pkg_tags {
    border-radius:30px;
    padding: 5px 20px;
    display:inline-flex;
}
.dataset-desc {
    width:80%;
    margin-bottom:20px;
    text-align: justify;
}
.row.dataset-meta {
    padding: 10px 0;
}
.org-box {
    width: 350px;
    height: 350px;
    margin-top: -30px;
}
.activity {
  background:none
}
.activity .item .date {
  display:block
}
.actor .gravatar {
    display:none
}
.activity .item a {
    font-style: normal;
}
.activity .item .icon {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.activity .item {
    margin: 25px;
}
.activity .item .fa {
    margin-top: 10px;
}
.activity .item::after {
    margin-bottom: 30px;
}
.page-section {
    border-top: 2px solid #f65940;
}
.additional-info .table {
    width: 65%;
}
.additional-info thead tr th,
.additional-info tbody tr td {
    padding: 10px;
    padding-left: 5%;
}

/* -------------------------- files ----------------------- */
.resource-item .heading:hover {
    text-decoration: none;
}
/* -------------------------- links ----------------------- */
.links-list.dl-horizontal dt {
    width: 30%;
    text-align: left;
}
.links-list.dl-horizontal dd {
    width: 70%;
    margin-left: 35%;
}

/* -------------------------- metadata ----------------------- */
.metadata-list {
    margin: 30px 15px;
}
.metadata-list.dl-horizontal dt {
    display: inline;
}
.metadata-list.dl-horizontal dd {
    display: inline-block;
    margin-left: 0;
    width: 70%;
}
.metadata-list.dl-horizontal dt {
    width: 30%;
    margin-left: -1%;
    text-align: left;
}
.metadata-list.dl-horizontal dt strong {
    float: right;
}
/* -------------------------- dataset-edit ----------------------- */
.btn-default .fa-bars+span {
    display: none;
}
.btn-default .fa-bars::before {
    display: none;
}
.btn-default .fa-bars:after {
    content: ' REORDER';
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.stages {
    border-bottom: 2px solid #f65940;
    margin-left: -30px;
    margin-top: -30px;
}
.stages li {
    padding: 0;
}
.stages li .highlight {
    position: static;
    text-align: center;
    padding: 20px 0;
    text-indent: 5mm; /* important for responsive mode */
}
.stages li:before {
    content: none;
}
.stages li:after {
    top: 0;
    border:none;
    margin: 0;
}
.metadata-heading {
    padding: 15px 0;
    width: 50%;
    display: inline-block;
    text-align: center;
}
.metadata-small-heading {
    padding: 10px 0;
    width: 270px;
}
.metadata-small-heading:hover {
    background-color: #f65940;
}

/* --------------------- responsive ------------------------- */
@media (min-width: 320px) and (orientation: portrait) {
    .page-section {
        padding-right: 0;
    }
    .metadata-heading {
        padding: 20px 50px;
        margin-left: 0px;
        width: 100%;
        text-align: left;
    }
    .metadata-small-heading {
        padding: 10px 50px;
    }
    .additional-info .table {
        width: 100%;
        margin-left: 0;
    }
    .partner-links.social-links {
        margin-top: 5%;
        float: right;
    }
    .links-list.dl-horizontal dt,
    .links-list.dl-horizontal dd {
        width: 100%;
    }
    .links-list.dl-horizontal dd {
        margin-left: 0;
    }

    /* -------------------------- metadata ----------------------- */
    .metadata-list {
        margin-left: 0;
    }
    .metadata-list.dl-horizontal dt strong {
        float: none;
    }
    .metadata-list.dl-horizontal dt {
        margin-left: 0;
    }
    .metadata-list.dl-horizontal dd {
        margin-left: 5%;
    }
    .dataset-desc {
        width:100%;
    }
    .org-box {
        width: 300px;
        height: 200px;
    }
}
