body {
  background-color: #f2f2f2;
}

.events-container .row:first-of-type {
  margin-top: 50px;
}

.events-container .row:last-of-type {
  margin-bottom: 80px;
}

.event-block {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 24px 20px;
  margin: 10px 0;
}

.event-block__section-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 15px;
  margin-top: 15px;
}

.event-block__section-links a {
  margin: 4px 8px;
}

.event-block__section {
  margin: 80px 0;
}

.event-block h1 {
  text-align: center;
}

.event-block h3 {
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
}

.event-block h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;
}

.event-block h6 {
  font-size: 14px;
}

.event-block p {
  margin-bottom: 18px;
}

.event-block ul {
  padding-left: 15px;
}

.event-block ul li {
  color: #6c666f;
  font-size: 14px;
  line-height: 1.5em;
}

.event-block .banner {
  width: 100%;
  height: auto;
}

.event-details {
  font-size: 16px;
  color: #6c666f;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.event-details svg {
  margin-right: 4px;
}

.event-requirements {
  margin-top: 16px;
}

.event-block__section h5 {
  font-size: 18px;
}

.register-button {
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 24px;
}

.mentors-container{
  margin-left: 10%;
  margin-right: 10%;
}

.mentor {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  cursor: pointer;
}

.mentor__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.mentor__header img {
  width: 150px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.mentor__header h5 {
  font-size: 18px;
}

.mentor__header p {
  color: #898989;
  font-size: 16px;
}

.mentor__body {
  font-size: 16px;
  padding-right: 20px;
}

.mentor__details {
  width: 80%;
}

.mentor__details h5 {
  font-size: 16px;
}

.mentor__details p {
  font-size: 16px;
  line-height: 1.5em;
}

.datasets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: 20px auto;
}

.student-dataset, .student-dataset:link, .student-dataset:active {
  padding: 4px 12px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  margin-right: 8px;
  margin-bottom: 12px;
  text-decoration: none !important;
  text-align: center;
}

.resource-link {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.provision {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.provision img {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.provision p {
  margin: 0;
}

.session-item {
  margin-bottom: 0;
}

#carousel-event-photos .carousel-inner .item {
  height: max-content;
}

.tooltip-inner {
  font-size: 14px;
}

@media (max-width: 768px) {
  .mentor {
    flex-direction: column;
  }

  .mentor__details {
    width: 100%;
    margin-top: 14px;
  }

  .mentor__details h5 {
    text-align: center;
  }

  .mentor__details p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {

  .event-block__section {
    margin: 40px 0;
  }

  .session-item {
    margin-bottom: 20px;
  }

  .session-item iframe {
    height: 250px;
  }
}



.partner-container {
  display: flex;
  gap: 16px;
  justify-content: space-around;
  align-items: center;

}

.partner-container img {
  max-width: 150px;
  object-fit: contain;
}