.search-form {
    border-bottom: none;
    margin-bottom: 50px;
}
.square-border {
    border-radius: 0px;
}
.input-group + *:focus {
    border-color: #f87c69;
}
.form-control, .input-group-addon {
    border-color: #f87c69;
    font-size: 1.2em;
}
.input-group .form-control:first-child {
    padding-left: 3em;
}
.input-group .btn {
    padding-top: 1.2em;
    padding-bottom: 1.1em;
}
.input-group > *, .input-group > select {
    height: 4em;
}
.bg-clear {
    background-color: transparent;
}
.sort-box, .btn.square-border {
    border-left: none;
    border-color: #f87c69;
}
