/*----------------- form style ----------------------*/
.search-form, .dataset-form {
    border-bottom: none;
    margin-bottom: 50px;
}
.dataset-form {
    padding-right: 50px;
}
.select2-container-multi .select2-search-choice-close {
    left: auto;
    margin: 5px 10px 5px 5px;
    /* background: url('https://image.flaticon.com/icons/svg/2919/2919559.svg') right top no-repeat;*/
    background: url('https://image.flaticon.com/icons/svg/458/458595.svg');
}

/*------------------ form control borders, backgrounds fonts colors ----------------*/
.controls > *:first-child,
.input-group > *:first-child,
.editor .editor-info-block,
[class^="input-group"] > *:first-child,
.form-control,
.form-control:focus,
.select2-drop,
.form-actions > button,
.controls > a.btn,
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
    border-color: #f87c69;
    border-radius: 0px;
}
.bg-clear {
    background-color: transparent;
}
.controls > *:first-child,
.controls > a.btn,
.form-actions > button,
.input-group > *:first-child,
.editor .editor-info-block,
fieldset.radios label,
fieldset.checkboxes label,
fieldset.checkboxes + label,
.select2-container-multi .select2-choices > li.select2-search-choice {
    font-size: 18px;
}
fieldset.radios label,
fieldset.checkboxes label,
fieldset.checkboxes + label {
    font-weight: normal;
}
.controls > a.btn,
.controls .btn,
.form-actions > button,
.select2-container-multi .select2-choices > li.select2-search-choice {
    background-color: #403644;
}
.sort-box, .search-form .btn {
    border-left: none;
}
.select2-container-active .select2-choices {
    border-color: #f87c69 !important; /* important because it gets overridden by dynamic class change */
}
.controls > a.btn,
.controls .btn,
.form-actions > button,
.select2-container-multi .select2-choices > li.select2-search-choice {
    color: white !important;
    padding: 7px 25px;
    border-radius: 30px;
}
.select2-container-multi .select2-choices > li.select2-search-choice:nth-child(2n) {
    background-color: #f65940 !important;
    background: none;
    font-weight: bold;
}
.select2-container-multi .select2-choices > li.select2-search-choice:nth-child(2n+1) {
    background: none;
    background-color: #403644 !important;
    font-weight: bold;
}
.form-actions > button:hover {
    background-color: white;
    color: #403644 !important;  /* important because it gets overridden by dynamic class change */
    border-color: #f87c69;
}
label {
    color: #403644;
    font-size: 20px;
    font-weight: bold;
}
.checkbox-other > *:first-child {
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    box-shadow: none;
}
fieldset.checkboxes > label > input {
    background: transparent;
    box-shadow: none;
    border-radius: 0px;
}

/*------------------ form control layout ----------------*/
.controls .form-control,
.controls .select2-container,
.controls .select2-container-multi,
.controls .select2-container .select2-choice,
.select2-container-multi .select2-choices {
    height: 100%;
}
.controls .select2-container {
    height: 50px;
}
.search-form .input-group > *,
.search-form .input-group > select {
    height: 75px;
}
fieldset.checkboxes label {
    display: inline-block !important;
}
.checkbox-other {
    width: 200px !important;
}

/* ----------------- form control spacing ------------- */
.controls input.form-control,
.controls select.form-control,
.controls .select2-container .select2-choice,
.controls .select2-container .select2-choices {
    padding-top: 10px;
    padding-bottom: 10px;
}
.controls > .select2-container .select2-choices {
    padding-top: 3px;
    padding-bottom: 3px;
}
.controls > .select2-container.form-control .select2-choice,
.controls > .select2-container .select2-choices {
    border: none;
}
.controls .select2-container .select2-choices {
    padding-left: 0;
}
.input-group .form-control:first-child {
    padding-left: 30px;
}
.input-group .btn {
    padding-top: 26px;
    padding-bottom: 23px;
}
.select2-container {
    padding: 0;
}
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
    padding: 0 0 0 10px;
}
fieldset.radios label > input {
    margin-right: 5px;
    background: white;
}
fieldset.radios label,
fieldset.checkboxes label {
    padding-right: 40px;
}
.checkbox-other > *:first-child {
    margin-left: 10px;
}
.select2-search-choice > div {
    margin-right: 15px;
    padding-left: 5px;
}
.controls .checkbox-other .select2-choices {
    padding-top :0;
}
