.account-masthead {
    background-color: rgb(40, 40, 40);
    display: none;
}
.account-masthead .account .notifications a span {
  background-color: black;
}
.account-masthead .account ul li a {
  color: rgba(255, 255, 255, 0.6);
}
.account-masthead .account ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: black;
}


.container {
    width: 90%;
}
.masthead {
  background: none;
  background-color: #403644;
}
.masthead .navigation {
    margin-top: 5px;
}
.masthead .navigation .nav-pills li {
    font-size: 18px;
    font-weight: bold;
}
.masthead .navigation .nav-pills li a:hover {
  background-color: #f65940;
  color: white;
}
.masthead .navigation .nav-pills li.active a {
  background-color: #403644;
}

.masthead .navigation .nav-pills li.active {
  border-bottom-width: 10px;
  border-color: #f65940;
}

.masthead .navigation .nav-pills li:last-child {
  background-color: #f65940;
  color: white;
  border-radius: 4px;
}
.masthead .navigation .nav-pills li:last-child a:hover {
  background-color: #403644;
  color: #f65940;
  border-color: #f65940;
}

.masthead .logo {
    margin-left: -45px;
    width: 300px;
    height: 80px;
}
.logo img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.box {
  box-shadow: none;
}
.hero .box {
  border: none;
}
.homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: white;
}
.homepage .module-search .tags {
  background-color: rgb(61, 61, 61);
}
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
}
.homepage [role="main"] {
  border-top: 1px solid rgb(204, 204, 204);
}

.wrapper {
    min-height: 600px;
}
body {
  background-color: white;
}
.site-footer {
  background: none;
  background-color: #403644;
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.6);
}
/* The link texts in the footer. */
.site-footer a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-disclaimer,
.footer-links {
    color: white;
}
.footer-legal {
    float: right;
    width: 60%;
}
.footer-links {
    padding: 10px 15px;
}
.footer-links .social-links {
    padding: 40px 25px;
}
.footer-disclaimer {
    font-size: 17px;
    margin: 10px 0;
}
.footer-disclaimer div:last-child {
    color: #f65940;
    font-size: 20px;
    font-style: italic;
}
.footer-links .nav-item {
    display: inline;
}
/* Ref: https://stackoverflow.com/a/28986266/3860168 */
.site-footer .social-links .nav-item a{
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid #f65940;
    border-radius: 50px;
    margin-right: 50px;
    padding: 5px 5px;
    background-color: #f65940;
    font-size: 25px;
    color: white;
    text-align: center;
}
.footer-links i.fa-circle.fa-sm {
    font-size: 9px;
    color: #f65940;
    padding: 10px;
}
.footer-links .input-group-btn .btn,
.footer-links input {
    border-radius: 30px;
}
.footer-links input {
    font-size: 20px;
    font-style: italic;
    color: #b9b4b4;
}
.footer-links .input-group-btn .btn {
    margin-left: -20px;
    background-color: #f65940;
    font-size: 18px;
    border-color: #f65940;
}
