/* ----------------------- images --------------------------- */
/* Ref: https://stackoverflow.com/a/36311846/3860168 */
.image-box {
    display:flex;
    justify-content:center;
    align-items: center;
}
.image-box img.media-image {
    margin:auto;
}

/* ------------------------ header ------------------------ */
/* Hide top account bar */
.account-masthead {
    display: none;
}
.masthead {
    padding-top: 0;
    padding-bottom: 0;
}
.masthead .navbar-collapse {
    padding-top: 0;
    padding-bottom: 0;
}
.masthead .navigation .nav-pills li {
    padding-top: 7%;
    height: 120px;
}
.masthead .navigation .nav-pills li.active {
    border-bottom: 1.5vh solid #f65940;
}
.masthead .navigation .nav-pills li:hover {
    border-bottom: 1.5vh solid #f65940;
}
.masthead .navigation .nav-pills li:last-child {
    padding-left: 5px;
    padding-right: 10px;
}
.header-image {
    width: 35%;
    height: 10vh;
}
.masthead .logo {
    margin-top: 1%;
    width: 100%;
    height: 100%;
}
.navbar-toggle {
    font-size: 8vw;
    margin: 0;
}
.logo img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

/* -------------------- body layout ----------------------- */

.container {
    width: 80%;
}
[role="main"] .container,
.site-footer .container {
    width: 100%;
}
.box {
  box-shadow: none;
  border: none;
}
.module-content.page-header {
    padding: 0;
}
.module-content {
    padding-right: 5px;
}
.wrapper {
    box-shadow: none;
    min-height: 600px;
    margin-top: 0;
    border: none;
}
.wrapper::before {
    border-right: none;
}

.toolbar {
    padding: 20px 20px;
}

/* ----------------------- pre-primary-blocks ----------------- */
.top-section {
    margin: 0 20px;
    margin-bottom: 250px;
}
.content_action {
    margin-right: 30px;
}
[class^="btn btn-"],
.nav-tabs .content_action a {
    border-color: #403644;
}
.res-actions a,
.content_action a {
    border-color: #f65940;
}
[class^="btn btn-"],
.res-actions a,
.content_action a {
    border-radius: 30px;
    padding: 5px 25px;
    color: #ffffff;
}
.res-actions a,
.content_action a {
    margin-top: 10px;
}
.js .image-upload .btn.hover,
[class^="btn btn-"]:hover,
[class^="btn btn-"]:active,
[class^="btn btn-"]:focus,
.bg-clear:active:hover,
.res-actions a:hover,
.content_action a:hover {
    color: #f65940;
    border: 1px solid #f65940;
    background-color: #ffffff;
    text-decoration:none;
}

/* ---------------------- primary blocks ---------------------- */
.page-heading {
    border-bottom: 2px solid #f65940;
    padding-top: 6px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-bottom: 10px !important;
    margin-left: -30px;
}
.module .page-header {
    margin: 0;
    padding-bottom: 0;
    background: transparent;
    border: none;
}
.page-header .nav-tabs {
    width: 100%;
    border-bottom: 2px solid #f65940;
    margin-top: -55px;
}
.page-header .nav-tabs li a {
    border-radius: 0;
}
.page-header .nav-tabs li a:hover {
    border-bottom: 1.5px solid #f65940;
}
.page-header .nav-tabs::before,
.page-header .nav-tabs::after {
    border: none;
}
.page-header .nav-tabs > li {
    margin-bottom: -2px;
}
.nav-tabs > li >  a > i {
    display: None;
}

/* ------------- sidebar --------- */
.context-info .module-content {
    padding: 0;
}
.context-info .nums {
    border: none;
}
.module-footer {
    border: none;
}
.sidebar {
    border-top: 2px solid #f65940;
}
.module-shallow .module-content p {
    padding: 20px 10px;
}
.module-shallow .module-content:first-child,
.module-shallow .module-content:last-child {
    padding-top: 0;
    padding-bottom: 0;
}
.sidebar h2 {
    line-height: 1.2;
    text-align:center;
    border-bottom: 2px solid #f65940;
    padding-top:5px;
    padding-bottom:21px;
    margin-bottom: 0;
}

.primary {
    padding-left: 0;
    padding-right: 0;
}

.page_primary_action {
    padding-right: 40px;
    margin-bottom: 10px;
    height: 40px;
    margin-top: 10px;
}
.page_primary_action .btn-primary {
    border-radius: 30px;
    padding: 5px 25px;
}
[role="main"] .secondary {
    padding-right: 0;
}
aside .module-content {
    padding-left: 0;
}
aside .module [class^=module] {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* ------------------------ footer ------------------------ */
.site-footer {
    padding: 0;
}
.footer-links {
    padding: 20px 30px;
}
.footer-links [class*="col-md"] {
    margin-top: 20px;
}
.footer-links .nav-item > a:hover, 
.footer-links .nav-item > a {
    margin: 0;
    padding: 0;
}
.footer-links i.fa-circle.fa-sm {
    font-size: 9px;
    color: #f65940;
    padding: 10px;
}
.footer-links .social-links .fa {
    background-color: #f65940;
    color: #ffffff;
}
.footer-links .social-links .fa:hover {
    border-color: #ffffff;
    color: #ffffff;
}
.subscribe-box {
    min-height: 300px;
    padding-right: 60px;
    padding-left: 30px;
}
.subscribe-box .btn.btn-default {
    padding: 10px 25px;
}

/* ------------------------------- Login ------------------------- */
.login-sidebar {
    margin-top: -20px;
    height: 700px;
}
.login-sidebar-heading {
    padding: 50px 70px;
    padding-bottom: 10px;
}
.login-sidebar p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-heading {
    border-bottom: 1px solid #f65940;
    padding: 0 50px;
    margin-bottom: -1.5px;
}

/* ----------------------------- homepage --------------------------- */
[role="main"] .container .row .col1 {
    margin-top: 20vh;
}
[role="main"] .container .row .col2 {
    padding: 5% 5%;
    font-style: italic;
    margin-top: 20vh;
}
[role="main"] .container .row .col3 {
    padding: 1% 4%;
}
[role="main"] .container .row .col3 h2 {
    border-bottom: 2px solid #f65940;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
[role="main"] .container .row .col3 p {
    padding: 10px 0;
}
.col-circle img {
    width: 90%;
    height: 90%;
}
.homepage .module-search {
    min-height: 30vh;
    margin-top: 15%;
    background: transparent;
}
.homepage .container {
    background: url('/uploads/admin/JH Logomark.png') no-repeat;
    background-position: -13vw -20vh;
    background-size: 100vh;
}
.homepage .module-search .module-content {
    background: transparent;
}
.search-meta {
    width: 90%;
}
.search-meta .stats-box {
    margin-top: 3%;
}

/* -------------------------------------- Mobile adjustments ----------------------------- */
@media (min-width:320px) and (orientation: portrait) {
    .module-content {
        padding: 10px;
    }
    .top-section {
        margin: 0 5px;
        padding: 5px;
    }
    .page-header .nav-tabs {
        margin-top: 50px;
    }
    .page-heading {
        display: none;
    }
    .toolbar .breadcrumb,
    .toolbar .breadcrumb a {
        color: #403644;
    }
    .header-image {
        width: 70%;
    }
    .masthead .logo {
        margin-top: 0;
    }
    .masthead .navigation .nav-pills li {
        height: auto;
        padding-top: 0;
        padding-bottom: 3%;
    }
    .masthead .navigation .nav-pills li:last-child {
        border-bottom: none;
    }
    .login-heading {
        padding-left: 20px;
        margin-bottom: 20px;
        margin-left: -10px;
    }
    .login-sidebar {
        height: 100%;
    }
    .container {
        width: 100%;
    }
    .homepage .container {
        background-position: -27vw -10vh;
        background-size: 50vh;
    }
    .homepage .module-search {
        border-bottom: 2px solid #f65940;
        margin-bottom: 50px;
    }
    .search-meta .stats-text {
        margin-top: 0;
    }
    .col-circle i.fa {
        font-size: 100px;
        color: #f65940;
        text-align: center;
    }
    [role="main"] .container .row .col2 {
        padding: 2% 0;
        margin-bottom: 30px;
    }
    [role="main"] .secondary {
        display: none;
    }
    [role="main"] .container .row .col1,
    [role="main"] .container .row .col2,
    [role="main"] .container .row .col3 {
        margin-top: 0;
    }
    .footer-intro-invert,
    .footer-disclaimer {
        display: none;
    }
    .footer-links .col {
        padding: 0;
    }
    .footer-links {
        padding: 5px 5px;
    }
    .subscribe-box {
        background-color: #403644;
        min-height: 100%;
    }
    .footer-links i.fa-circle.fa-sm {
        padding: 0;
    }
    .footer-links .social-links .fa {
        width: 7.5vw;
        height: 28px;
        font-size: 5vw;
    }
    .footer-links .social-links li {
        margin-right: 0;
    }
}
