/* ---------- package-item ------- */

.org-row {
    padding-left:50px;
}
.org-row .private-icon
{
    padding: 0;
    background: none;
}
.org-row .private-icon i {
    color: #403644;
}
.partner-logo {
    height: 200px;
}
.follow_button a {
    background-color: #f65940;
    border-radius: 30px;
    padding: 5px 50px;
    color: #ffffff;
    margin-top: 10px;
    border: 0;
}
.follow_button a:hover {
    color: #f65940;
    background-color: inherit;
    border: 1px solid #f65940;
}

.header-tabs {
    margin-left: 0;
}
.header-tabs .nav-tabs {
    width: 100%;
    margin-top: -56px;
    border-bottom: 1px solid #f65940;
}
.header-tabs .nav-tabs li a {
    border-radius: 0;
}

.wrapper::before {
    top: auto;
}

/* members table */

.members-table {
    margin-top: 30px;
}

.members-table > thead > tr > th{
    text-align: left;
    background-color: white;
    border: 0;
    border-bottom: 2px solid #f65940;
    padding: 25px;
    font-weight: bold;
}

.members-table > tbody > tr > td{
    padding: 35px;
    color: black;
    font-weight: bold;
}

.member_media > img {
    width: 50px;
    height: 50px;
}

.member_media > a {
    color: black;
    padding-left: 10px;
    
}

.member_action .btn-primary {
    background-color: #403644;
    color: #ffffff;
    border-radius: 30px;
    padding: 5px 25px;
}

.member_action .delete {
    background-color: red;
    color: #ffffff;
    border-radius: 25px;
    padding: 5px 10px;
    margin-left: 5px;
}
