/* ---------- package-item ------- */

.label {
    padding: 6px 21px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
}
.dataset-heading {
    margin-bottom: 0;
    font-weight: bold;
}
.dataset-item {
    border-bottom: none;
}
.dataset-desc {
    font-size: 20px;
}
.downloads, .dataset-meta {
    font-style: italic;
}
.dataset-org, .downloads, .dataset-heading, .dataset-meta {
    font-size: 25px;
}
.dataset-org > a{
    color: #f65940;
}
.downloads, .dataset-meta {
    color: #bcb4bf;
}
.heading {
    padding-bottom: 20px;
}
.package-item-row {
    padding-left:50px;
}
.package-item-row .private-icon
{
    padding-left: 5px;
    background: none;
    font-size: 15px;
}
.package-item-row .private-icon i {
    color: #403644;
}

/* ----------- stages ----------- */

/* ------------ background borders fonts ------ */
.page-header .content_action {
    color: #403644;
}
.page-header,
.page-header .nav {
    background: transparent;
    border: none;
}
.page-header .nav-tabs li.active a,
.page-header .nav-tabs li.active a:hover,
.stages li,
.stages li.active .highlight,
.metadata-heading {
    background-color: #403644;
}
.page-header .nav-tabs li.active a:hover,
.stages,
.stages li.active .highlight,
.module-heading,
.metadata-heading {
    color: #ffffff;
}

.module-heading,
.metadata-heading,
.stages li .highlight {
    font-weight: bold;
}
.metadata-heading,
.stages li .highlight {
    font-size: 19px;
}
.page-header .nav,
.page-header .nav li a:hover,
.stages {
    border: none;
    border-bottom: 1px solid #403644;
}
.page-header .nav-tabs,
.stages {
    margin: 50px -65px 0 0;
}
.stages li {
    padding: 0;
}
.page-header .nav-tabs li a,
.stages li .highlight {
    position: static;
    text-align: center;
}
.stages li.complete .highlight,
.stages li.uncomplete .highlight {
    background-color: #ffffff;
    color: #403644;
}
.stages li:before {
    content: none;
}
.stages li:after {
    top: 0;
    border:none;
    margin: 0;
}

/* --------------- layout sizing ------------- */
.metadata-heading {
    padding: 10px 0;
    margin-left: -30px;
    width: 55%;
    display: inline-block;
    text-align: center;
}

@media (max-device-width: 600px) and (orientation: portrait) {
    .metadata-heading {
        margin-left: 0;
    }
}
