.media-item {
    color:#f65940;
    margin:20px;
    height:200px;
}
.count {
    color:#f65940;
}
.media-item .media-image {
    height: 130px;
    width: 150px;
}
.media-item {
    height: 210px;
}


/*----------------- partner editing data set page css ----------------------*/
.partner-datset-content{
    margin-left:15px;
}

.partner-dataset-table > tbody > tr > td{
    border-top:None;
    height:150px;
}

.partner-dataset-table > thead > tr > th{
    border-bottom:None;
    height:150px;
    vertical-align:middle;
}

.context .content_action a {
    padding-right:25px;
    padding-left:25px;
    font-size:16px;
    font-weight:bolder;
}

.btn-icon{
    background: white;
    border:None;
    font-size:15px;
}

.action-fa{
   font-size:40px;
}

.btn-icon:hover{
    background: white;
    border:None;
}

.page_primary_action {
   padding-right:0px;
   margin-bottom: 0;
}
.page_primary_action .search-form {
    margin-bottom: 10px;
}

.private-icon{
   font-size:25px; 
   margin-left:10px; 
}

