.module-resource h1 {
    margin-bottom: 0;
}
.social-heading {
    background-color: #ffffff !important;
    color: #f65940;
    height: 70px;
    padding-left: 0 !important;
    border-bottom: none;
}
.res-actions {
    margin-top: 20px;
    margin-bottom: 50px;
}
