.resource-item {
    margin-bottom: 20px;
}
.nav-simple li {
    border-bottom: none;
}
.nav-simple > .nav-item {
    padding-left: 50px;
    padding-top: 30px;
}
.nav-simple .nav-item a:hover,
.nav-simple .nav-item:hover {
    background: #ffffff;
    color: #403644;
}
.res-social {
    position: absolute; 
    bottom: 17px; 
    right: 0;
}
.social-heading {
    background-color: #ffffff !important;
    color: #f65940;
    height: 70px;
    padding-top: 20px;
    padding-left:0px;
    border-bottom: none;
}
.res-actions {
    margin-top: 20px;
    margin-bottom: 50px;
}
.module-content .res-actions ul {
    padding-left: 0;
}

/* ------------------------------- responsive ---------------------- */
@media only screen and (max-width: 768px){
    .res-social{
       position:unset; 
    }

}
