.module-resource h1 {
    margin-bottom: 0;
}
.social-heading {
    background-color: #ffffff !important;
    color: #f65940;
    height: 70px;
    padding-left: 0 !important;
    border-bottom: none;
}
.res-social,
.res-actions {
    margin-top: 20px;
    margin-bottom: 50px;
}
.res-actions .dropdown-menu {
    padding: 0;
    width: 100%;
    min-width: 50px;
    border: none;
    margin: 0;
}
.res-actions .dropdown-menu a {
    border-radius: 0;
    margin-top: 0;
}
/* FIXME: hiding for Alpha */
.res-actions ul > li a[data-module=api-info] {
    display: none;
}
.res-actions .btn:active,
.open > .dropdown-toggle.btn,
.open > .dropdown-toggle.btn:hover,
.res-actions .btn:hover {
    background-color: #f65940;
    border-color: #f65940;
    color: #fff;
}
