.field-giant-search {
}
.dataset-count-box {
    color: #202020;
    padding: 20px 0 !important;
    text-align: center;
}
.dataset-count-box span {
    font-weight: bold;
}
.dataset-count {
    color: #f65940;
}
.filters .module-heading {
    color: #ffffff;
    background-color: #403644;
    border-color: #f65940;
    margin-bottom: 0 !important;
    border-top: none;
}
.filters .module-content {
    height: 100%;
}
.nav-facet .nav-item.active > a{
    background-color: #f65940;
    color: #ffffff;
}
.nav-item.active > a:hover {
    color: #403644;
}
.nav-facet .nav-item > a {
    color: #ffffff;
}
.nav-facet .nav-item > a:hover {
    color: #403644;
    background-color: #ffffff;
}
.nav-facet .nav-item > a:hover::after {
    background: none;
}
.filters .nav-facet .nav-item {
    padding-left: 40px;
    border-bottom: none;
}
.nav-facet, .filters .module-content.empty {
    background-color: #403644;
    color: #ffffff;
}
