{% ckan_extends %}

{% block subtitle %}{{ _('Sectors') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Sectors'), controller='group', action='index', named_route=group_type + '_index' %}</li>
{% endblock %}

{% block pre_primary %}
    {% block page_primary_action %}
      <div class="page_primary_action row">
      {% if h.check_access('group_create') %}
        {% link_for _('ADD SECTOR'), controller='group', action='new', class_='btn btn-primary pull-right', named_route=group_type + '_new' %}
      {% endif %}
      </div>
    {% endblock %}

    {% block groups_search_form %}
        {% snippet 'snippets/search_form.html', form_id='group-search-form', type='group', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search groups...'), show_empty=request.params, no_bottom_border=true if c.page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
    {% endblock %}
{% endblock %}

{% block primary_content %}
    {% block primary_content_inner %}

    <h1 class="hide-heading">{{ _('Groups') }}</h1>

    {% block groups_list %}
        {{ super() }}
    {% endblock %}

    {% block page_pagination %}
        {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
    {% endblock %}

    {% endblock %}
{% endblock %}
