.dataset-item {
  padding-bottom: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-bottom: none;
  background-color: #fff;
}

.dataset-content {
  border: 1px solid #f2f2f2;
  padding-left: 15px;
  padding-right: 15px;
}

.dataset-title-container {
  background-color: var(--primary-background-color);
  border: 0.5px solid var(--primary-background-color);
}

.dataset-title {
  margin-bottom: 0;
  margin-top: 10px;
}

.dataset-title a {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.dataset-org {
  margin-bottom: 10px;
}

.dataset-org span {
  color: white;
  font-size: 12px;
  font-weight: 300;
}

.dataset-org span a,
.datset-org span a:hover {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.file-info {
  display: grid;
  grid-template-columns: 6fr 3fr 1fr;
  align-items: center;
  border-top: 0.5px solid #898989;
}

.dataset-content .file-info:first-of-type {
  border-top: none;
}

.file-info__text {
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.file-info__text div {
  margin-left: 8px;
}

.file-info__text p {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 18px;
  color: #6c666f;
}

.file-info__stats {
  display: flex;
  justify-content: space-between;
  border-right: 0.5px solid #898989;
  border-left: 0.5px solid #898989;
  padding: 10px;
}

.file-info__stats a.btn-primary-text {
  font-size: 12px;
  font-family: 'Roboto';
}

.file-info__stats p {
  font-family: 'Montserrat';
  font-size: 10px;
  color: #6c666f;
  margin-bottom: 0;
}

.file-info__stats p span {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

.file-info__stats .btn-primary-text {
  font-family: 'Roboto';
  font-size: 12px;
}

.file-info__link {
  display: flex;
  justify-content: flex-end;
}

.file-info__link a {
  color: var(--primary-color);
  text-decoration: none;
}

.view-more-files {
  background-color: #f2f2f2;
  border: 0.5px solid #f2f2f2;
  display: flex;
  justify-content: space-around;
  padding-top: 12px;
  padding-bottom: 12px;
}

.view-more-files .btn-primary-text {
  font-family: 'Roboto';
  font-size: 16px;
}

.dataset-status {
  display: flex;
  font-size: 14px;
  align-items: center;
}

.dataset-status p {
  margin-bottom: 0;
  margin-right: 12px;
}

@media (max-width: 768px) {
  .file-info {
    grid-template-columns: 9fr 1fr;
  }
  .file-info__stats {
    display: none;
  }
  .view-more-files {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
