<div role="main">
    <div class="container">
        <div class="row">
            {% block search %}
            {% snippet 'home/snippets/search.html' %}
            {% endblock %}
        </div>
        <div class="row">
            <div class="col col-xs-4 col-sm-2 col1 col-circle">
                <i class="fa fa-circle fa-lg"></i>
            </div>
            <div class="col col-xs-8 col-sm-5 col2">
                <p>
                {{ _('An Open community to exchange justice related data, knowledge and other resources online and offline.') }}
                </p>
            </div>
            <div class="col col-xs-12 col-md-5 col3">
                <h2>{{ _('JUSTICE HUB') }}</h2>
                <p>
                {{ _('This is an intiative from CivicDataLab in collaboration with Agami.\
                The hub initiated as part of the Agami Data for Justice Challenge 2019.') }}
                </p>
                <p>
                {{ _('Justice Hub is a collobarative data platform that focuses on legal and justice related datasets and other resources.') }}
                </p>
                <p>
                {{ _('Our objective is to build  a common platform for members of the legal data and tech community\
                (Civil Society Organizations, researchers, journalists, law firms etc.) to share, build and collaborate on the common.') }}
                </p>
            </div>
        </div>
    </div>
</div>

