{% set groups = h.justicehub_theme_get_popular_groups() %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JusticeHub</title>
  </head>
  <body>

    <main>
      <section class="hero-section">
        <div class="hero-section__overlay">
          <div class="custom-container">
            <div class="row">
              <div class="col-lg-5 col-md-6 col-sm-8 hero-section__content">
                <h2>Legal & Justice Data</h2>
                <p>An open source platform for data related to the Indian legal and justice system. Crowdsourced from a community of law
  and data researchers, practitioners and enthusiasts.</p>
                <div class="explore-row">
                  <a href="/dataset" class="btn btn-primary col-lg-5 col-md-5 col-sm-5 col-xs-12">Explore Data</a>
                  <a href="/upload" class="btn btn-primary-outline col-lg-5 col-md-5 col-sm-5 col-xs-12">Contribute Data</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="categories">
          <h3>Explore Popular categories</h3>
          <div class="categories__row row">
		{% for group in groups %}
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 category-item"  onclick="window.location='/dataset?groups={{group.name}}';">
				<div class="icon-container">
				  <img src="{{ group.image_display_url }}" alt="${category.name}" />
				</div>
				<p>{{ group.display_name }}</p>
			</div>
		{% endfor %} 

          </div>
        </div>
      </section>
      <section class="datasets-section">
        <div class="custom-container">
          <div class="main-search">
            <p>Search for datasets, reports, organizations, categories & more</p>
            <form class="" method="get" action="{% url_for controller='package', action='search' %}">
		    <div class="input-group">
		      <input aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}" id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off"/>
		      <span class="input-group-btn">
		        <button class="btn btn-primary" type="submit">
		          <img src="/assets/icons/search.svg" style="height: 19.25px; width: auto" alt="" />
		        </button>
		      </span>
		    </div>
           </form>
          </div>
          <section class="quality-section">
            <div class="custom-container">
              <h2>Highlights</h2>
              <div class="quality-section__content row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <p>
                    Tim Berners-Lee, suggested a 5-star deployment scheme for Linked Open Data. The rating begins at one
                    star and data gets stars when proprietary formats are removed and links are added.
                  </p>
                  <p>
                    The file formats also play a role in the rating, with machine readable formats rating higher. Watch our
                    crisp, short video to find out more.
                  </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 video-container">
                  <div style="width: 100%; height: 340px; background-color: #f65940"></div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>

      <section class="review-section">
        <div class="custom-container">
          <div class="datasets-section__content row">
            <div class="col-lg-4" style="text-align: center;">
              <img alt="file formats" src="assets/dataset_image.svg" />
            </div>
            <div class="col-lg-6 col-lg-offset-1">
              <h2>Datasets</h2>
              <p>
                A dataset is a collection of files grouped together to give a complete understanding of a specifc topic.
                They can contain different files, like reports, raw data in the form of csv or excel sheets, a data
                dictionary (which describes the contents in the files) & more.
              </p>
              <p>
                You can find datasets as well as stand-alone files on the platform. For more info on what truly makes a
                dataset, click the links below.
              </p>
              <div class="row dataset-action-row">
                <div class="col-lg-5 col-sm-6 col-xs-6">
                  <a href="#"><img src="/assets/icons/movie_icon.svg" /><span>Watch Video</span></a>
                </div>
                <div class="col-lg-5 col-sm-6 col-xs-6">
                  <a href="#"><img src="/assets/icons/book_icon.svg" /><span>Read more</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="quality-section">
        <div class="custom-container">
          <h2>We Review the Data</h2>
          <div class="quality-section__content row">
            <div class="col-lg-6 col-md-6 col-sm-12 video-container">
              <div style="width: 100%; height: 340px; background-color: #f65940"></div>
            </div>
            <div class="col-lg-6 col-md-6">
              <p>Testimonials go here.</p>
              <p>
                Moderators review every file & dataset before they’re posted on the platform. To learn more about our
                review process, <a href="#">CLICK HERE</a>.
              </p>
              <p>
                <strong>WE RESPECT PRIVACY.</strong> Our moderators ensure that datasets uploaded on the hub don’t
                contain any personally identifiable information.
              </p>
            </div>
            <!-- <div class="col-lg-6 col-md-6 moderators__content">
              <h4>Our Moderators</h4>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 moderator-duty">
                  <img src="/assets/icons/proofread.svg" alt="proof read" />
                  <span>proof read files and datasets</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 moderator-duty">
                  <img src="/assets/icons/completeness.svg" alt="proof read" />
                  <span>ensure data completeness</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 moderator-duty">
                  <img src="/assets/icons/getintouch.svg" alt="proof read" />
                  <span>get in touch with data contributors</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 moderator-duty">
                  <img src="/assets/icons/authenticity.svg" alt="proof read" />
                  <span>check the file authenticity</span>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>

      <section class="contributors-section">
        <div class="custom-container">
          <h3>Top Data Contributors in the Community</h3>
          <div class="contributors-row row"></div>
          <p>Want to see your name here? We’re looking for contributors!</p>
          <a href="/dataset/new" class="btn btn-primary">Contribute Data</a>
        </div>
      </section>

    </main>

    <script src="/home.js"></script>
  </body>
</html>










{# 
<div role="main">
    <div class="container">
        <div class="row">
            {% block search %}
                {% snippet 'home/snippets/search.html' %}
            {% endblock %}
        </div>

        <div style="height:100px;">
        {% for group in groups %}
          {% snippet "group/snippets/group_item.html", group=group, position=loop.index %}
        {% endfor %}
        </div>



        <i class="fa fa-circle primary-color landing-quotes-top"></i>
        <div class="row landing-desc">
            <div class="col col-xs-12 col-sm-6 col-sm-offset-1">
                <div class="row">
                    <div class="col col-sm-12">
                        {{ _('We enable organizations
                              and individuals to create, share,
                              manage and harness datasets for justice.') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-12">
                        <div class="footer-intro">{{ _('GET IN TOUCH') }}</div>
                    </div>
                </div>
                <div class="row social-links">
                    <div class="col col-sm-12">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <a href="mailto:info@justicehub.in" aria-hidden="true" alt="Justice Hub's Email Address" role="link" title="Email Address" aria-label="Justice Hub's Email Address" target="_blank">
                                <i class="fa fa-envelope"></i>
                                </a>
                            </li><!--
                            --><li>
                                <a href="https://twitter.com/JusticeHubIndia" aria-hidden="true" alt="Justice Hub India's Official Twitter Handle" role="link" title="Official Twitter Handle" aria-label="Justice Hub India's Official Twitter Handle" target="_blank">
                                    <i class="fa fa-twitter fa-lg"></i>
                                </a>
                            </li><!--
                            --><li>
                                <a href="https://www.facebook.com/JusticeHubIndia" aria-hidden="true" role="link" alt="Justice Hub India's Official Facebook Page" title="Official Facebook Page" aria-label="Justice Hub India's Official Facebook Page" target="_blank">
                                    <i class="fa fa-facebook fa-lg"></i>
                                </a>
                            </li><!--
                            --><li>
                                <a href="https://github.com/justicehub-in" alt="Justice Hub India's Official Github handle" aria-label="Justice Hub India's Official Github handle" title="Official Github Handle" aria-hidden="true" role="link" target="_blank">
                                    <i class="fa fa-github fa-lg"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <i class="fa fa-circle primary-color landing-quotes-bottom"></i>
    </div>
</div>

#}

