{#
Renders the login form.

action        - The url that the form should be submitted to.
error_summary - A tuple/list of form errors.

Example:

  {% snippet "user/snippets/login_form.html", action=g.login_handler, error_summary=error_summary %}

#}
{% import 'macros/form.html' as form %}

{% set username_error = true if error_summary %}
{% set password_error = true if error_summary %}

<form action="{{ action }}" method="post" class="login-form">
  {{ form.errors(errors=error_summary) }}

  {{ form.input('login', label=_("Username"), id='field-login', value="", error=username_error, classes=["control-medium"]) }}

  {{ form.input('password', label=_("Password"), id='field-password', type="password", value="", error=password_error, classes=["control-medium"]) }}

  <div class="row form-group">
      <div class="col col-sm-6 col-xs-6">
          <label class="checkbox" for="field-remember">
              <input id="field-remember" type="checkbox" name="remember" value="63072000" checked="">
              {{ _('Remember me') }}
          </label>
      </div>
      <div class="col col-sm-6 col-xs-6 text-right">
          <a class="btn btn-default btn-forgot bg-clear" href="{{ h.url_for('user.request_reset') }}">{{ _('Forgot password') }}</a>
      </div>
  </div>

  <div class="form-actions">
    {% block login_button %}
    <button class="btn btn-primary btn-login" type="submit">{{ _('LOGIN') }}</button>
    {% endblock %}
  </div>

</form>
