{% ckan_extends %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading">{{ _('CREATE DATASET') }}</h2>
      <div class="module-content">
          <div>
              <h2 class="desc-heading">{{ _("TITLE & DESCRIPTION") }}</h2>
              <p>
              {% trans %}
              A Dataset is a collection of data resources
              (such as data dictionary, data processing methodologies, raw & processed datasets, etc),
              together with a description and other information, at a fixed URL.
              Datasets are what users see when searching for data.
              {% endtrans %}
              </p>
          </div>
      </div>
    </section>
  {% endblock %}
{% endblock %}
