{% ckan_extends %}

{% block wrapper_class %}
	no-nav dataset-page
{% endblock %}

{% block resource_inner %}
{% resource 'justicehub_theme/dataset/dataset.css' %}
{% resource 'justicehub_theme/dataset/resource.css' %}
    <div class="custom-container">

    {% block resource_content %}

    <aside class="secondary col-sm-3 col-xs-12 sidebar">
        <div class="module module-narrow module-shallow context-info dataset-sidebar-module">
            <div class="header">
                <h3>Uploaded by</h3>
            </div>
            <div class="body">
                <a href="/user/show/{{pkg.creator_username}}" >{{pkg.creator_name}}</a>
            </div>
            <!-- <div class="footer">
                
            </div> -->
        </div>
        <div class="module module-narrow module-shallow context-info dataset-sidebar-module">
            <div class="header">
                <h3>Ownership</h3>
            </div>
            <div class="body">
                {% set owners = h.justicehub_theme_parse_json(pkg.publisher_contacts or '[]') %}
                {% for owner in owners %}
                    {% if owner['name'] %}
                    <div style="margin-bottom: 10px;">
                        {% if owner['website']%}
                        {% set web_link = owner['website'] if 'http' in owner['website'] else 'https://'+owner['website'] %}
                        <a href="{{web_link}}" target="_blank" rel="noreferrer noopener">{{ owner['name']}}</a>
                        {% else %}
                        <p style="margin-bottom: 2px;">{{owner['name']}}</p>
                        {% endif %}
                        {% if owner['email'] %}
                        <a href="mailto:{{owner['email']}}" style="color: #898989; font-size: 15.5x;">{{owner['email']}}</a>
                        {% endif %}
                    </div>
                    {% else %}
                    <p style="color: #898989; font-style: italic;">No owners added</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="module module-narrow module-shallow context-info dataset-sidebar-module">
            <div class="header">
                <h3>Data Source(s)</h3>
            </div>
            <div class="body">
                {% if pkg['source'] %}
                    {% set sources = pkg.source.split(',') %}
                        <ol>
                        {% for source in sources %}
                            <li>{{ source }}</li>
                        {% endfor %}
                        </ol>
                {% endif %}
            </div>
        </div>
        <div class="module module-narrow module-shallow context-info dataset-sidebar-module">
            <div class="header">
                <h3>Reference Links</h3>
            </div>
            <div class="body">
                {% set links = h.justicehub_theme_parse_json(pkg.links or '[]') %}
                <ol>
                {% for link in links %}
                    {% set ref_link = link['link'] if 'http' in link['link']  else 'https://'+link['link'] %}
                    <li><a style="display: block;" href="{{ ref_link }}" >{{ link['title'] }}</a></li>
                {% endfor %}
                </ol>
                <!-- <p>{{ links }}</p> -->
            </div>
        </div>
    </aside>

    <div class="primary col-sm-9 col-xs-12 dataset-primary">
        {#{{ super() }}#}
        <div class="dataset-main">
            <div class="dataset-main__header">
                <p style="font-size: 12px;"><a href="/dataset/{{pkg.name}}" style="font-family: Roboto; font-size: 12px; padding: 0 2px 0 0;" class="btn btn-primary-text">View all files</a> in "{{pkg.title}}"</p>
                <h1>{{ h.resource_display_name(res) | truncate(50) }}</h1>
                <p class="license-description">{{ ('Updated: ')}} {{h.time_ago_from_timestamp(res.last_modified) or _('unknown') }} | {{ res.format }}</p>
                {% if res.format == 'CSV' or res.format == 'PDF' %}
                {% block data_preview %}
                    {% block resource_view %}
                        {% block resource_view_content %}
                        {{ super() }}
                        {% endblock %}
                    {% endblock %}
                {% endblock %}
                {% else %}
                <p style="font-style: italic; color: #898989; margin-left: 28px;">This file cannot be previewed. Please download it.</p>
                {% endif %}
                <p class="file-description">{{ res.description }}</p>

                <div class="file-actions">
                    <a href="mailto:info@justicehub.in" class="btn btn-primary-text"><i class="fa fa-flag-o" aria-hidden="true"></i>
                         Report Issue</a>
                    <a href="{{ res.url }}" class="resource-url-analytics btn btn-primary" target="_blank">
                        {% if res.has_views or res.url_type == 'upload' %}
                          <i class="fa fa-arrow-circle-o-down"></i>
                          {{ _('Download') }}
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    </div>
{% endblock %}

{% block primary_content %}
{% endblock %}

{% block secondary_content %}
{% endblock %}
