{% ckan_extends %}

{% block resource_inner %}
    <div class="module-content res-top-content">

    {% block resource_content %}

        {% block resource_read_title %}
            {{ super() }}
        {% endblock %}

        <div class="prose notes resource-desc" property="rdfs:label">
            {% if res.description %}
              {{ h.render_markdown(res.description) }}
            {% endif %}
            {% if not res.description and c.package.notes %}
              <h3>{{ _('From the dataset abstract') }}</h3>
              <blockquote>{{ h.markdown_extract(h.get_translated(c.package, 'notes')) }}</blockquote>
              <p class="res-title">{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a class="res-url-src" href="{{ url }}">{{ dataset }}</a>{% endtrans %}
            {% endif %}
        </div>

        <div class="res-line-margin-bottom">
            <a href="{{ pkg.license_url }}">{{ pkg.license_title }}</a>
            <a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a>
        </div>

        {% block resource_read_url %}
            {% if res.url and h.is_url(res.url) %}
              <p class="text-muted ellipsis res-title">{{ _('URL:') }} <a class="resource-url-analytics res-url-src" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
            {% elif res.url %}
              <p class="text-muted break-word res-title">{{ _('URL:') }} {{ res.url }}</p>
            {% endif %}
        {% endblock %}

		<div class="actions res-actions">
		  {% block resource_actions %}
		  <ul>
		  {% block resource_actions_inner %}
		    {% if h.check_access('package_update', {'id':pkg.id }) %}
		        {% link_for _('EDIT'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn btn-default btn-action' %}
		    {% endif %}

		    {% if res.url and h.is_url(res.url) %}
		      <li>
		        <div class="btn-group">
		        <a class="btn btn-primary btn-action resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
		          {% if res.resource_type in ('listing', 'service') %}
                      {{ _('View') }}
		          {% elif  res.resource_type == 'api' %}
                      {{ _('API Endpoint') }}
		          {% elif (not res.has_views or not res.can_be_previewed) and not res.url_type == 'upload' %}
                      {{ _('Go to resource') }}
		          {% else %}
                      {{ _('Download') }}
		          {% endif %}
		        </a>

		        {% block download_resource_button %}
                    {{ super() }}
                {% endblock %}
		        </div>
		      </li>
		    {% endif %}
		  {% endblock %}
		  </ul>
		  {% endblock %}
		</div>
    {% endblock %}

    {% if res.format == 'CSV' %}
        {% block data_preview %}
        {{ super() }}
        {% endblock %}
    {% endif %}
{% endblock %}

{% block primary_content %}
  <div class="col-sm-10 col-xs-12">
  {% block resource_additional_information %}
    {{ super() }}
  {% endblock %}
  </div>

  <div class="col-sm-2  col-xs-12 res-social">
    {% snippet "snippets/social.html" %}
  </div>
{% endblock %}

{% block secondary_content %}

  {% block resources_list %}
    {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id %}
  {% endblock %}

{% endblock %}

