{% ckan_extends %}


{% block pre_primary %}

  {% block page_primary_action %}
    {% if h.check_access('package_create') %}
      <div class="page_primary_action row">
        {{ h.snippet ('snippets/add_dataset.html', dataset_type=dataset_type) }}
      </div>
    {% endif %}
  {% endblock %}

  {% block form %}
        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name (A-Z)'), 'title_string asc'),
          (_('Name (Z-A)'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
  {% endblock %}

{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
      {% endblock %}
    </div>

    {% block page_pagination %}
      {{ c.page.pager(q=c.q) }}
    {% endblock %}
  </section>

{% endblock %}
