{% import 'macros/form.html' as form %}
{% if group_type is not defined %}
    {% set group_type = c.group_type %}
{% endif %}


{%- if not group_type -%}
    <p>
        group_type not passed to template. your version of CKAN
        might not be compatible with ckanext-scheming
    </p>
{%- endif -%}

<form class="dataset-form form-horizontal" method="post" data-module="basic-form" enctype="multipart/form-data">
    {%- set schema = h.scheming_get_organization_schema(group_type) -%}
    {%- for field in schema['fields'] -%}
        {%- if field.form_snippet is not none -%}
          {%- snippet 'scheming/snippets/form_field.html',
          field=field, data=data, errors=errors, licenses=licenses,
          entity_type='organization', object_type=group_type -%}
        {%- endif -%}
    {%- endfor -%}

    <div class="form-actions">
        {% block delete_button %}
        {% endblock %}
        <button class="btn btn-primary bg-clear" name="save" type="submit">{% block save_text %}{{ _('Save Data Contributor') }}{% endblock %}</button>
        {{ form.required_message() }}
    </div>
</form>
