{% ckan_extends %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow" style="padding: 32px 0;">
    <h2 class="module-heading" style="font-size: 24px; background: transparent; border-bottom: none;"> {{ _('Account Info') }}</h2>
    <div class="module-content">
      <p style="font-size: 16px">
      {% trans %}
        Your profile lets other Justice Hub users know about who you are and what you
        do.
      {% endtrans %}
      </p>
    </div>
  </section>
{% endblock %}
