{% import 'macros/form.html' as form %}
{% ckan_extends %}

{% block form %}
<div class="login-form">
    <div class="form-group">
        <span class="alert alert-danger">
            {{ _("You're already logged in as {user}.").format(user=g.user) }}
            <a href="{{ logout_url }}">{{ _('Logout') }}</a>?
        </span>
    </div>
    {{ form.input('login', label=_('Username'), id='field-login', value="", error="", classes=["control-full"], attrs={"disabled": "disabled"}) }}
    {{ form.input('password', label=_('Password'), id='field-password', type="password", value="", error="", classes=["control-full"], attrs={"disabled": "disabled"}) }}
    <div class="form-group">
        <label class="checkbox" for="field-remember">
            <input id="field-remember" type="checkbox" name="remember" value="63072000" checked=true disabled="disabled">
            {{ _('Remember me') }}
        </label>
    </div>
    <div class="form-actions">
      <button class="btn btn-primary disabled" type="submit" disabled>{{ _('LOG IN') }}</button>
    </div>
</div>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _("You're already logged in") }}</h2>
    <div class="module-content">
      <p>{{ _("You need to log out before you can log in with another account.") }}</p>
      <p class="action"><a class="btn btn-default" href="{{ logout_url }}">{{ _("LOG OUT") }}</a></p>
    </div>
  </section>
{% endblock %}
