<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Justice Hub | Summer of Data</title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="Justice Hub | Summer of Data">
    <meta name="description" content="Justice Hub | Announcing ‘Summer of Data’ program for law students">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://justicehub.in/events">
    <meta property="og:title" content="Justice Hub | Summer of Data">
    <meta property="og:description" content="Justice Hub | Announcing ‘Summer of Data’ program for law students">
    <meta property="og:image" content="https://justicehub.in/assets/jh_logomark.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://justicehub.in/events">
    <meta property="twitter:title" content="Justice Hub | Summer of Data">
    <meta property="twitter:description" content="Justice Hub | Announcing ‘Summer of Data’ program for law students">
    <meta property="twitter:image" content="https://justicehub.in/assets/jh_logomark.png">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="/jh_home_new1.css" />
    <link rel="stylesheet" href="/event.css" />
    
  </head>
  <body>
    {% include "header.html" %}
    <div class="custom-container events-container">
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <div class="event-block">
            <h3>Are you a law student in India keen to use data for justice?</h3>
            <div id="carousel-event-photos" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-event-photos" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-event-photos" data-slide-to="1"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/assets/events/1.jpg" />
                </div>
                <div class="item">
                  <img src="/assets/events/2.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="event-block">
            <div class="event-details">
              <span class="iconify" data-icon="bi:calendar" data-inline="false"></span>
              <span>May 31st - July 2nd, 2021</span>
            </div>
            <div class="event-details">
              <span class="iconify" data-icon="bytesize:location" data-inline="false"></span><span>Online</span>
            </div>
            <div class="event-details">
              <span>Application Deadline: May 25, 2021</span>
            </div>
            <div class="event-requirements">
              <h6>Registration Requirements</h6>
              <ul>
                <li>For Indian law students only</li>
                <li>Must be between 1st-4th Year of Law School</li>
                <li>Completed Application Form</li>
              </ul>
            </div>
            <a href="https://teamagami.typeform.com/to/o9rxdNaF" target="_blank" class="btn btn-primary register-button">Register Now</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <div class="event-block">
            <div class="event-block__section">
              <h4>About the Program</h4>
              <p>
                If yes, take your first step to become a ‘justicemaker’ by spending your summer break curating novel and
                open justice datasets.
              </p>
              <p>
                Summer of Data is a national 5-week program focused on bringing more law students into the open justice
                data movement. In this first edition of the Summer of Data Program, law students will work under the
                mentorship of Prof. Rangin Pallav Tripathy of NLU Odisha and Civic Data Lab to create a dataset that
                profiles the backgrounds of High Court Judges from across India.
              </p>
              <p>
                Students will have 5 weeks (between May 31st-July 2nd, 2021) to create the dataset, meeting the
                deadlines agreed upon with their mentors. The entire program will be conducted online.
              </p>
              <p>
                This edition of the Summer of Data program will accept only 30 law students in the first to fourth year
                of college.
              </p>
              <p>Please fill <a href="https://teamagami.typeform.com/to/o9rxdNaF" target="_blank">this short application form</a> by May 25, 2021 to show your interest.</p>
              <p>
                Students completing the program will share the datasets they create openly on Justice Hub for the world
                to use and receive due recognition as contributors.
              </p>
            </div>
            <div class="event-block__section">
              <h4>Mentors</h4>
              <div class="mentor">
                <img src="/assets/events/rangin.jpg" class="mentor__image" />
                <div class="mentor__details">
                  <h5>Prof. Rangin Pallav Tripathy</h5>
                  <p>
                    Rangin has been teaching at National Law University Odisha since 2010 and works in the area of
                    constitutional governance, civil liberties, criminal law and human rights. His current research
                    focuses on the functioning of institutions within constitutional democracies and the way they affect
                    realization of democratic rights. He was a Fulbright Post-Doctoral Research Scholar at Harvard Law
                    School (2019-2020).
                  </p>
                </div>
              </div>
              <div class="mentor">
                <img src="/assets/team/apoorv.png" class="mentor__image" />
                <div class="mentor__details">
                  <h5>Apoorv Anand</h5>
                  <p>Lorem ipsum</p>
                </div>
              </div>
              <div class="mentor">
                <img src="/assets/team/gaurav.jpg" class="mentor__image" />
                <div class="mentor__details">
                  <h5>Gaurav Godhwani</h5>
                  <p>Gaurav Godhwani is co-founder and director at CivicDataLab - a research lab harnessing data, tech, design and social science to 
		     strengthen the course of civic engagements in India. He works to leverage the open-source movement to enable citizens in engaging 
                     better with public reforms. He works closely with several governments, non-profits, think-tanks, media houses and universities to 
                     enable data-driven decision-making at scale. He has been instrumental in starting initiatives like DataKind Bangalore & Open Budgets India. 
                     He is focused to grow open data and FOSS innovations in sectors like Public Finance, Law & Justice, Urban Planning and more. When he is
                     away from the keyboard, he enjoys spending his time travelling, teaching and doing photography
		 </p>
                </div>
              </div>
            </div>
            <div class="event-block__section">
              <h4>Provisions</h4>
              <div class="provisions row">
                <div class="provision col-sm-6 col-xs-12">
                  <img src="/assets/icons/certificate.svg" />
                  <p>Certificate of Participation</p>
                </div>
                <div class="provision col-sm-6 col-xs-12">
                  <img src="/assets/icons/star.svg" />
                  <p>Credits</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
