{% ckan_extends %}

{% block content %}
<div class="dataset-content">

    <div class="row package-item-row heading">
        <div class="col col-md-5">
          {% block heading %}
          <h3 class="dataset-heading">

          {% block heading_private %}
            {% if package.private %}
            <span class="dataset-private label label-inverse private-icon">
                <i class="fa fa-lock fa-lg" data-toggle="tooltip"></i>
            </span>
            {% endif %}
          {% endblock %}

          {% block heading_title %}
              {{ h.link_to(h.truncate(title, truncate_title), h.url_for(package.type + '_read', controller='package', action='read', id=package.name)) }}
          {% endblock %}

          {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
              <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
              <span class="label label-danger">{{ _('Deleted') }}</span>
              {% endif %}
              {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
          {% endblock %}
          </h3>
          {% endblock %}

          {% block organization %}
          <div class="dataset-org">
              {{ h.link_to(h.truncate(package.organization.title, truncate_title), h.url_for(controller='organization', action='read', id=package.organization.name)) }}
          </div>
          {% endblock %}
        </div>
    
        <div class="col col-md-5">
            {% block notes %}
                {% if notes %}
                <div>{{ notes|urlize }}</div>
                {% else %}
                <div class="empty">{{ _("This dataset has no description") }}</div>
                {% endif %}
            {% endblock %}
        </div>
    </div>

    <div class="row package-item-row">
        <div class="col col-md-5">
            {% block downloads %}
            <div class="downloads">
            </div>
            {% endblock %}
            
            {% block package_meta %}
            <div class="dataset-meta">
                <span>{{ package.update_frequency or _('Not updated') }}</span>
                <span>{{ _('|') }}</span>
                <span>{{ _('Data Timeline:') }} {% if package.start_year %}{{ package.start_year }}-{{ package.end_year }} {% else %}{{ _('Not Available')}} {% endif %}</span>
            </div>
            {% endblock %}
        </div>
        
        <div class="col col-md-5">
            {% block resources %}
            <div>
                {% if package.resources and not hide_resources %}
                {% block resources_outer %}
                    <ul class="dataset-resources list-unstyled">
                    {% block resources_inner %}
                    {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                        <li>
                        <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label label-default" data-format="{{ resource.lower() }}">{{ resource }}</a>
                        </li>
                    {% endfor %}
                    {% endblock %}
                    </ul>
                {% endblock %}
                {% endif %}
            </div>
            {% endblock %}
        </div>
    </div>

</div>
{% endblock %}
