{% ckan_extends %}

{% block content %}
{% resource 'justicehub_theme/exploredatasets/package_item.css' %}
{% resource 'justicehub_theme/package_item.js' %}
<div class="dataset-content">

    <div class="row package-item-row">
        <div class="col col-md-12 dataset-title-container">
          {% block heading %}
          <h3 class="dataset-title">
          {% block heading_title %}
              {{ h.link_to(h.truncate(title, truncate_title), h.url_for(package.type + '_read', controller='package', action='read', id=package.name)) }}
          {% endblock %}

          {% block heading_private %}
            {% if package.private %}
                <i class="fa fa-lock" data-toggle="tooltip" title="Private Dataset"></i>
            {% endif %}
            {#{% if package.verified %}
                <img class="fa fa-check"
                     src="{{ h.url_for_static('/images/verified_icon.png') }}"
                     data-toggle="tooltip"
                     alt="Verified"
                     title="Verified"></img>
            {% endif %}#}
          {% endblock %}

          {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
              <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
              <span class="label label-danger">{{ _('Deleted') }}</span>
              {% elif package.get('state', '').startswith('active') %}
              <span class="label label-success">{{ _('Active') }}</span>
              {% else %}
              <span class="label label-warning">{{ package.state }}</span>
              {% endif %}
              {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
          {% endblock %}
          </h3>
          {% endblock %}

          {% block organization %}
          <div class="dataset-org">
              <span>uploaded by <a href="/user/show/{{package.creator_username}}">{{package.creator_name}}</a></span>
              {#<span>uploaded by {{package.creator_name}} {{ h.link_to(h.truncate(package.organization.title, truncate_title), h.url_for(controller='organization', action='read', id=package.organization.name)) }}</span> #}
              {# {{ h.link_to(h.truncate(package.organization.title, truncate_title), h.url_for(controller='organization', action='read', id=package.organization.name)) }} #}
{#              {% if package.partner.signed_pledge %}
                <img class="fa fa-certificate"
                     src="{{ h.url_for_static('/images/signed_pledge_icon.png') }}"
                     data-toggle="tooltip"
                     alt="Signed Open Data Pledge"
                     title="Signed Open Data Pledge"></img>
              {% endif %} #}
          </div>
          {% endblock %}
        </div>
       
        {% set resources = package.resources or [] %}
          {% for res in resources[0:3] %}
            <div class="col col-md-12 file-info">
                <div class="file-info__text">
                    <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">
                        {{ h.get_translated(res, 'format') }}
                    </span>
                    <div style="width: 90%;">
                        <h5>{{ h.resource_display_name(res) | truncate(50) }}</h5>
                        {% if res.description | length > 125 %}
                        <p>{{ res.description[0:122] }}...</p>
                        {% else %}
                        <p>{{ res.description }}</p>
                        {% endif %}
                    </div>
                </div>
        
                {% if res.url and h.is_url(res.url) %}
                <div class="file-info__stats">
                    {% if res.size %}
                    	<p>{{ h.format_resource_items([("size",res.size)])[0][1] }}</p>
                    {% endif %}
                    <a href="{{ res.url }}" class="resource-url-analytics btn-primary-text" target="_blank">
                        {% if res.has_views or res.url_type == 'upload' %}
                          <i class="fa fa-arrow-circle-o-down"></i>
                          {{ _('Download') }}
                        {% endif %}
                    </a>
                </div>
                {% endif %}
                <div class="file-info__link">

                    <a href="{{ h.url_for(controller='package', action='resource_read', id=package.name, resource_id=res.id) }}">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>
                
            </div>
          {% endfor %}
          <div class="col col-md-12 view-more-files">
            {% if c.userobj.sysadmin and package.state != ('active') and package.state != ('draft') %}
            <div class="dataset-status">
                <p>Change dataset status</p>
                <select class="dataset-status-change">
                    <option value="{{ package.name + _(',pending-review')}}">Pending review</option>
                    <option value="{{ package.name + _(',under-review')}}">Under review</option>
                    <option value="{{ package.name + _(',resubmission-required')}}">Resubmission requested</option>
                    <option value="{{ package.name + _(',rejected')}}">Rejected</option>
                    <option value="{{ package.name + _(',active')}}">Active</option>
                </select>
            </div>
            {% endif %}
            <a class="btn-primary-text" style="font-family: Roboto; font-size: 14px;" href="{{ h.url_for(package.type + '_read', controller='package', action='read', id=package.name) }}">View all {{ resources|length }} files in this dataset</a>
        </div>
    </div>

    {# <div class="row package-item-row">
        <div class="col col-md-5">
            {% block downloads %}
            <div class="downloads">
                <span>{{ h.justicehub_theme_get_package_avg_downloads(package) }}{{ _('+') }}</span>
                <span>{{ _('Downloads') }}</span>
            </div>
            {% endblock %}
            
        </div>
    </div> #}

    <div class="row package-item-row">
        <div class="col col-md-5">
            {% block package_meta %}
            {% endblock %}
        </div>
        {#<div class="col col-md-6">
            {% block resources %}
            <div>
                {% if package.resources and not hide_resources %}
                {% block resources_outer %}
                    <ul class="dataset-resources list-unstyled">
                    {% block resources_inner %}
                    {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                        <li>
                        <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}"
                           class="label label-default"
                           data-format="{{ resource.lower() }}">{{ resource | upper }}</a>
                        </li>
                    {% endfor %}
                    {% endblock %}
                    </ul>
                {% endblock %}
                {% endif %}
            </div>
            {% endblock %}
        </div> #}
    </div>

</div>
{% endblock %}
