{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
{% set form_id = form_id if form_id else false %}

{# have to set for issue count #}
{% set count = count if count else 0 %}

<form {% if form_id %}id="{{ form_id }}" {% endif %}class="search-form{% if no_bottom_border %} no-bottom-border{% endif %}" method="get" data-module="select-switch">
<div class="col col-md-3 col-xs-5 input-group pull-left">
    <div class="form-control input-lg square-border dataset-count-box">
        <span>
            {% if count_box_title %}
                {{ count_box_title }}
            {% elif type %}
                {{ type | upper }}{{_('S')}}
            {% else %}
              {{_('DATA')}}
            {% endif %}
            <span class="count">{{ _('[') }}{{ c.page.items | length  or count}}{{ _(']') }}</span>
        </span>
    </div>
</div>

{% block search_input %}
    <div class="input-group search-input-group" style="display:none;">
      <input aria-label="{% block header_site_search_label %}{{ placeholder }}{% endblock %}" id="field-giant-search" type="text" class="form-control input-lg" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
      {% block search_input_button %}
      <span class="input-group-btn">
        <button class="btn btn-default btn-lg" type="submit" value="search">
          <i class="fa fa-search"></i>
        </button>
      </span>
      {% endblock %}
    </div>
{% endblock %}

{% block search_sortby %}
{% if sorting %}
  <div class="col col-md-3 col-xs-7 input-group pull-right">
    <span>{{ _('Sort by:') }}</span>
    <select id="field-order-by" name="sort" class="form-control input-lg square-border sort-box">
      {% for label, value in sorting %}
        {% if label and value %}
          <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label | upper }}</option>
        {% endif %}
      {% endfor %}
    </select>
    {% block search_sortby_button %}
    <button class="btn btn-default js-hide" type="submit">{{ _('Go') }}</button>
    {% endblock %}
  </div>
{% endif %}
{% endblock %}

{% block search_title %}
    {% if not error and count == 0 %}
      <div class="extra">
          <h2>{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</h2>
          <p>Please try another search.</p>
      </div>
    {% endif %}
{% endblock %}


{% block search_facets %}
{% endblock %}

{% if error %}
  {% trans %}
    <p id="search-error"><strong>There was an error while searching.</strong> Please try again.</p>
  {% endtrans %}
{% endif %}
</form>
