.file-description {
  margin-top: 20px;
}

.file-actions .btn {
  font-size: 16px !important;
  font-weight: 400;
  font-family: Roboto !important;
  text-transform: uppercase;
}

.module-resource {
  border: none !important;
}

a[data-module="resource-view-embed"] {
  display: none !important;
}