.file-description {
  margin-top: 20px;
}

.file-actions {
  margin-top: 30px;
}

.file-actions .btn-primary-text {
  padding-left: 0;
  margin-right: 8px;
}

.file-actions .btn {
  font-size: 16px !important;
  font-weight: 400;
  font-family: Roboto !important;
  text-transform: uppercase;
}

.module-resource {
  border: none !important;
}

a[data-module="resource-view-embed"] {
  display: none !important;
}

.resource-view-filters {
  margin-left: 28px !important;
}
